html, body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -0.5px;
    -webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#wrapper {
    text-align: center;
    width: 100%;
    position: absolute;
    margin-top: 64px;
	overflow: hidden;
}

/* WHAT IS BITCOIN? */


#currency-container {
    max-width: 796px;
    max-height: 758px;
}

#it-is {
	margin-bottom: 20px;
}

#use-container {
	max-width: 806px;
	max-height: 994px;
}


/* WHAT IS BUTTONS */

#use-button1 {
	position: absolute;
	top: 5%;
	left: 51%;
	width: 16%;
	height: 6%;
}

#use-button2 {
    position: absolute;
    top: 69%;
    left: 1%;
    width: 14%;
    height: 12%;
}

#use-button3 {
    position: absolute;
    top: 69%;
    left: 59%;
    width: 14%;
    height: 12%;
}

#use-button4 {
    position: absolute;
    top: 69%;
    left: 79%;
    width: 17%;
    height: 12%;
}

/* END WHAT IS BUTTONS */



#store {
	margin-bottom: 20px;
}

#store-container {
	max-width: 803px;
	max-height: 478px;
	margin-bottom: 70px;
}

#store-button1 {
	position: absolute;
	top: 35%;
	left: 0%;
	width: 19%;
	height: 14%;
}

#spend1-container {
	max-width: 756px;
	max-height: 245px;
	margin: auto;
	display: block;
	margin-top: 50px;
	margin-bottom: 18px;
	font-size: 100%;
}

#spend2-container {
	max-width: 457px;
	max-height: 311px;
	margin-bottom: 4px;
}

#verification-container {
	max-width: 761px;
	max-height: 909px;
	font-size: 100%;
}


/* Spend Buttons */

#spend-button1 {
    position: absolute;
    top: -6%;
    left: 35%;
    width: 30%;
    height: 111%;
}

#spend-button2 {
    position: absolute;
    top: -6%;
    left: 67%;
    width: 34%;
    height: 111%;
}

/* End Spend Buttons */


/* TEXT */

.px14 {
	font-size: 14px;
}

.px22 {
	font-size: 22px;
}

.black {
	color: black;
}
